

<a href="?viz={{dir}}">
    <img src="{{thumbnail}}" width="80px" height="80px"/ style="float:left">
</a>
<div style="float:left">
{{name}}, {{author}} <br/>
Source: <a href="{{source}}">{{source}}</a> <br/>
Data expected: {{dataExpected}}
</div>
<div style="clear:both"/>


{{!--
<pre>{{loadText './viz_examples/treemap_d3_example.html'}}</pre>
--}}
